body {
  background-color: #010165;
  margin: 0px;
}
.title-row { 
  background: #00ffff;
  color: #010165;
  margin: 10px 0;
  padding: 2px 0;
  text-align: center
}
  .door-row { 
    text-align:center;
    min-width: 250px;
}
  .door-frame{
    cursor: pointer;
  }
  .box {
    text-align: center;
    justify-content: center;
    padding: 2px;
    background: purple;
    margin:5px auto;
    margin-bottom: 3px;
    height: fit-content;
    width: 100px;
    border-radius: 5px;
    font-size:16px;
    border: 2px solid #00ffff;
    color: #00ffff


  }
  #door {
    font-family: 'Work Sans';
    cursor: pointer;
    
  }
  .header { 
    text-align: center
  }
